absl-py==0.7.1
afinn==0.1
astor==0.8.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.7.1
bibtexparser==1.1.0
bleach==3.1.0
bokeh==1.2.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
Django==2.2.2
docutils==0.14
entrypoints==0.3
future==0.16.0
gapic-google-cloud-datastore-v1==0.90.4
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
google-api-core==1.11.1
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-bigquery==1.14.0
google-cloud-bigquery-datatransfer==0.3.0
google-cloud-bigtable==0.33.0
google-cloud-container==0.2.1
google-cloud-core==1.0.1
google-cloud-datastore==1.8.0
google-cloud-dns==0.30.1
google-cloud-error-reporting==0.31.0
google-cloud-firestore==1.2.0
google-cloud-language==1.2.0
google-cloud-logging==1.11.0
google-cloud-monitoring==0.31.1
google-cloud-pubsub==0.41.0
google-cloud-resource-manager==0.29.1
google-cloud-runtimeconfig==0.29.1
google-cloud-spanner==1.9.0
google-cloud-speech==1.0.0
google-cloud-storage==1.16.1
google-cloud-trace==0.21.0
google-cloud-translate==1.5.0
google-cloud-videointelligence==1.9.0
google-cloud-vision==0.37.0
google-gax==0.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
graphviz==0.11
grpc-google-iam-v1==0.11.4
grpcio==1.21.1
grpcio-gcp==0.2.2
h5py==2.9.0
html5lib==1.0.1
httplib2==0.12.3
idna==2.7
ipykernel==5.1.1
ipypublish==0.10.2
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
jsonextended==0.7.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.35.6
jupyterlab-server==0.3.3
jupytext==1.1.5
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.3.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
mock==3.0.5
nbconvert==5.5.0
nbdime==1.0.6
nbformat==4.4.0
nbmerge==0.0.4
nltk==3.4.1
notebook==5.7.8
numpy==1.16.4
oauth2client==3.0.0
ordered-set==3.1.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
panflute==1.11.2
parso==0.4.0
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.8.0
psutil==5.6.2
ptyprocess==0.6.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.2
pyspark==2.4.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.5.1
recordclass==0.11.1
requests==2.22.0
rsa==4.0
ruamel.yaml==0.15.96
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
Send2Trash==1.5.0
shutilwhich==1.1.0
simplegeneric==0.8.1
simplejson==3.16.0
simpy==3.0.11
six==1.12.0
sklearn==0.0
smmap2==2.0.5
soupsieve==1.9.1
sqlparse==0.3.0
stop-words==2018.7.23
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testfixtures==6.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
wget==3.2
widgetsnbextension==3.4.2
wordcloud==1.5.0
