absl-py==0.5.0
afinn==0.1
alabaster==0.7.12
allennlp==0.8.4
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.1
awscli==1.16.171
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.6.3
bibtexparser==1.0.1
bleach==3.0.2
blis==0.2.4
bokeh==0.13.0
boto3==1.9.161
botocore==1.12.161
bs4==0.0.1
cachetools==3.1.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==0.11
cycler==0.10.0
cymem==2.0.2
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
Django==2.2
docutils==0.14
editdistance==0.5.3
ekphrasis==0.5.1
emoji==0.4.5
entrypoints==0.2.3
flaky==3.5.3
Flask==1.0.3
Flask-Cors==3.0.7
ftfy==5.5.1
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
google-api-core==0.1.4
google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-cloud==0.32.0
google-cloud-bigquery==0.28.0
google-cloud-bigquery-datatransfer==0.1.1
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.2
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.3
google-cloud-runtimeconfig==0.28.3
google-cloud-spanner==0.29.0
google-cloud-speech==0.30.0
google-cloud-storage==1.6.0
google-cloud-trace==0.17.0
google-cloud-translate==1.3.3
google-cloud-videointelligence==1.0.1
google-cloud-vision==0.29.0
google-gax==0.15.16
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
graphviz==0.9
greenlet==0.4.15
grpc-google-iam-v1==0.11.4
grpcio==1.15.0
h5py==2.8.0
html5lib==1.0.1
httplib2==0.12.1
idna==2.7
imagesize==1.1.0
importlib-metadata==0.17
ipykernel==5.1.0
ipypublish==0.6.7
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.4
jsonnet==0.13.0
jsonpickle==1.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
more-itertools==7.0.0
murmurhash==1.0.2
nbconvert==5.4.0
nbdime==1.0.5
nbformat==4.4.0
nbmerge==0.0.4
nltk==3.3
notebook==5.7.0
numpy==1.15.2
numpydoc==0.9.1
oauth2client==4.1.3
overrides==1.9
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.3.1
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plac==0.9.6
pluggy==0.12.0
ply==3.8
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.6
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.4.0
Pygments==2.2.0
pyparsing==2.2.2
pyspark==2.4.0
pytest==4.6.2
python-dateutil==2.7.3
pytorch-pretrained-bert==0.6.2
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
recordclass==0.7
regex==2019.6.5
requests==2.20.0
responses==0.10.6
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
simpy==3.0.11
six==1.11.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==1.2.1
spacy==2.1.4
Sphinx==2.1.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
srsly==0.0.5
stop-words==2018.7.23
tensorboard==1.11.0
tensorboardX==1.7
tensorflow==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.0
thinc==7.0.4
torch==1.1.0
-e git+https://github.com/chenyangh/torchMoji.git@71b415ce1d08612b16fb2c75359d582400228ca4#egg=torchmoji
tornado==5.1.1
tqdm==4.32.1
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.24
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.2
word2number==1.1
wordcloud==1.5.0
zipp==0.5.1
